
@model List<SunShop.Models.CartItem>
{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br /> 
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active">Giỏ hàng</li>
                <li class="list-group-item"><a href="#" id="btnContinue">Tiếp tục mua hàng</a></li>
                <li class="list-group-item">Phản hồi</li>
            </ul>
        </div>
        <div class="col-md-9 text-center">
            <div class="row">
                @if (Model.Count > 0)
                {
                    decimal? tong = 0;
                    <div class="row">
                        <div class="col-md-1 text-center" style="border:1px solid #f5f582">#</div>
                        <div class="col-md-1 text-center" style="border:1px solid #f5f582">Mã SP</div>
                        <div class="col-md-2 text-center" style="border:1px solid #f5f582">Tên SP</div>
                        <div class="col-md-2 text-center" style="border:1px solid #f5f582">Ảnh SP</div>
                        <div class="col-md-2 text-center" style="border:1px solid #f5f582">Số lượng</div>
                        <div class="col-md-2 text-center" style="border:1px solid #f5f582">Đơn giá</div>
                        <div class="col-md-2 text-center" style="border:1px solid #f5f582">Thành tiền</div>
                    </div>
                    foreach (var item in Model)
                    {

                        <div class="row">
                            <div class="col-md-1 text-center text-center" style="border:1px solid #f5f582;height:125px;padding-top:3%">
                                <a href="/CartItem/Delete/@item.Product.ID" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                            <div class="col-md-1 text-center" style="border:1px solid #f5f582;height:125px">@item.Product.Code</div>
                            <div class="col-md-2 text-center" style="border:1px solid #f5f582;height:125px">@item.Product.Name</div>
                            <div class="col-md-2 text-center" style="border:1px solid #f5f582;height:125px"><img src="~/Assets/Client/img/@item.Product.Code/@item.Product.Avatar" width="100%" height="125px" /></div>
                            <div class="col-md-2 text-center" style="border:1px solid #f5f582;height:125px"><input type="text" class="form-control txtquantity" value="@item.Quantity" data-id="@item.Product.ID" /></div>
                            <div class="col-md-2 text-center" style="border:1px solid #f5f582;height:125px">@(!item.Product.PromotionPrice.ToString().IsEmpty() ? item.Product.Price.GetValueOrDefault(0) : item.Product.PromotionPrice)</div>
                            <div class="col-md-2 text-center" style="border:1px solid #f5f582;height:125px">@(!item.Product.PromotionPrice.ToString().IsEmpty() ? item.Product.Price.GetValueOrDefault(0) * item.Quantity : item.Product.PromotionPrice * item.Quantity)</div>
                        </div>
                        if (item.Product.PromotionPrice.Equals("")) {
                            tong += item.Product.PromotionPrice * item.Quantity;
                        }
                        else
                        {
                            tong += item.Product.Price * item.Quantity;
                        }
                    }
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-6"><span style="font-family:'Times New Roman';font-size:20px;font-weight:bold"><p>Tổng tiền là : </p></span></div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <span style="font-family:'Times New Roman';font-size:28px;font-weight:bold"><p>@tong VNĐ</p></span>
                                </div>
                                <div class="col-md-6">
                                    <a href="/CartItem/Thanhtoan" id="btnMuahang" class="btn btn-primary">Mua hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"><button type="button" id="btnUpdate" class="btn btn-block">Cập nhật giỏ hàng</button></div>
                    <div class="col-md-3"><button type="button" id="btnDeleteAll" class="btn btn-danger">Xóa giỏ hàng</button></div>
                }
                else
                {
                    <h3> Bạn chưa mua hàng </h3 >
                }
            </div>
                    <div class="col-md-3 text-center"></div>
            </div>
    </div>
    <br />
</div>

